body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.container {
    width: 100%;
    max-width: 500px; 
    margin: 50px auto;
    background-color: #fff;
    padding: 40px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-actions {
    text-align: right;
}

.form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button[type="submit"] {
    background-color: #5cb85c;
    color: white;
}

button[type="reset"] {
    background-color: #d9534f;
    color: white;
}


form.validado input:valid{
    border: 1px solid green;
}

form.validado input:invalid{
    border: 1px solid red;
}

